body {
  background: #f8fafe;
}

*.wrapper { 
  position: relative;
  width: 1500px;
  height: 2985px;
  font-family: sans-serif;
  font-size: 18px;
  margin: auto;
  
}

* {
  box-sizing: border-box;
}

* a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #008CF0;
  text-decoration: none;
}

* a:hover {
  color: #F36223;
}

.header__color {
  color: #f52;
}

.footer__color {
  color: #f52;
}

/* ШАПКА САЙТА НАЧАЛО */
header {
  position: fixed;
  width: 1500px;
  height: 80px;
  top: 0px;
  z-index: 1;
  background: #f8fafe;
  overflow: hidden;
}

.header__logo {
  height: 80px;
  padding: 0px 51px;
}

.header__logo img {
  width: 36.5px;
  height: 43px;
  margin-top: 30px;
}

.header__name span:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  background-size: 37px 43px;
  background-image: url(images/MarketP.gif);
  background-repeat: no-repeat;
}

.header__name {
margin-top: 19px;
font-weight: 700;
font-size: 44px;
line-height: 53px;
}

.header__icon-wrapper{
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 30px 55px 15px;
}

.header__heart {
  display: flex;
  width: fit-content; 
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  position: absolute;
  height: 20px;
  left: 36px;
  top: -3px;
  background: #F36223;
  border-radius: 50px;
}

.header__basket {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  position: absolute;
  height: 20px;
  left: 106px;
  top: -4px;
  background: #F36223;
  border-radius: 50px;
}

.header__icon span {
  color: #FFFFFF;
}

/* ШАПКА САЙТА КОНЕЦ */


/* ХЛЕБНЫЕ КРОШКИ НАЧАЛО */
.breadcrumbs {
    font-size: 16px;
  }

  .breadcrumbs nav {
    margin: 110px 0px 8px 50px;
  }

  .breadcrumbs a {
    padding: 0px;
  }
/* ХЛЕБНЫЕ КРОШКИ КОНЕЦ*/

.product-name__title {
  margin: 0px 50px 10px;
}

/* ФОТОГРАФИИ ТОВАРА НАЧАЛО */
.product-photo{
  width: 1396.83px;
  height: 387px;
}

.product-photo img {
  padding-right: 10px;
}

.product-photo__photo-1 {
    max-width: 285px;
    max-height: 387px;
    padding-right: 10px;
    margin-left: 50px;
  }
  .product-photo__photo-2 {
    max-width: 192.73px;
    max-height: 387px;
  }
  
  .product-photo__photo-3 {
    max-width: 199.06px;
    max-height: 387px;
  }
  
  .product-photo__photo-4 {
    max-width: 352px;
    max-height: 387px;
  }
  
  .product-photo__photo-5 {
    max-width: 297px;
    max-height: 387px;
  }
/* ФОТОГРАФИИ ТОВАРА КОНЕЦ */


/* ОСНОВНАЯ ИНФОРМАЦИЯ САЙТА + САЙДБАР */
.main-content {
  display: flex;
}

*.product-description {
  font-size: 16px;
  height: 1116px;
  margin-left: 51px;
  margin-top: 30px;
}

/* ЦВЕТ ТОВАРА НАЧАЛО */
.product-color {
    font-weight: bold;
}

.product-color__choise-color {
  font-weight: bold;
   display: flex;
   gap: 10px;
   margin-top: 15px;
}

.product-color__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.product-color__container img {
  width: 30.93px;
  height: 60px;
}

.product-color__container:focus{
  border: 2px solid#F36223;
  background: #F2F2F2;
}
.product-color__container:hover {
  background-color: #F2F2F2;
}

.product-color__container:active {
  border: 2px solid #A93A09;
}

/* ЦВЕТА ТОВАРА КОНЕЦ */

/* КОНФИГУРАЦИЯ ПАМЯТИ НАЧАЛО*/
.product-memory {
  font-weight: 700;
}

.product-memory__name {
  margin-top: 30px;
}

.product-memory__button-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.product-memory__button {
  padding: 10px 20px;
  width: 92px;
  height: 39px;
  border: 1px solid #888888;
  border-radius: 4px;
  background: white;
}

.product-memory__button:focus {
  border: 2px solid #F36223;
  background: #f8fafe;
}
.product-memory__button:hover {
  background: #F2F2F2;
}
.product-memory__button:active {
  border: 2px solid#A93A09;
  background-color: #f8fafe;
}


/* КОНФИГУРАЦИЯ ПАМЯТИ КОНЕЦ */

/* ХАРАКТЕРИСТИКИ ТОВАРА НАЧАЛО*/
.product-characteristic__name {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 10px;
  list-style-type: none;
}

ul span {
  font-weight: bold;
}

ul a {
  padding: 0px;
}

li:before {
  color: #888888;
  content: "●";
  padding-right: 10px;
}
/* ХАРАКТЕРИСТИКИ ТОВАРА КОНЕЦ*/

/* ОПИСАНИЕ НАЧАЛО*/
.product-exposition__name {
  margin-top: 30px; 
  font-weight: 700; 
  margin-bottom: 15px;
}

.product-exposition{
  width: 880px;
  font-size: 16px;
}

.product-exposition__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* ОПИСАНИЕ КОНЕЦ*/

/* ТАБЛИЦА КОНЕЦ*/  
.model-compare__table {
  max-width: 878px;
  max-height: 158px;
  height: 158px;
  width: 100%;
  border: 1px solid #888888;
  border-collapse: collapse; 
}
.model-compare__table th {
  box-sizing: border-box;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #888888;
  line-height: 19px;
}

.model-compare__table td {
border: none;
border-right: 1px solid #888888;
padding: 5px;
}

tbody tr:hover {
  background: #F2F2F2;
}

/* ТАБЛИЦА КОНЕЦ*/

/* САЙДБАР НАЧАЛО*/
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 420px;
  height: 957px;
  margin-left: 100px;
}

.sidebar__prise-delivery {
  width: 462px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 16px;
  margin-top: 30px;
}

.sidebar__prise-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.sidebar__prise {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 132px;
  height: 73px;
}

.sidebar__old-cost {
  display: flex;
  gap: 10px;
}

.sidebar__old-cost p {
  width: 66px;
  height: 16px;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #888888;
  margin-top: 5px;
}

.sidebar__discount {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F36223;
  border-radius: 500px;
  width: 47px;
  height: 24px;
}

.sidebar__discount span {
  color: #FFFFFF;
}

.sidebar__new-prise {
  font-size: 32px;
  font-weight: bold;
}

/* ДОБАВИТЬ В ИЗБРАННОЕ*/
.sidebar__favorites-button {
  background-image: url(images/heart.svg);
  display: block;
  width: 26px;
  height: 20.7px;
  background-size: 26px;
  background-repeat: no-repeat;
 }
 .sidebar__favorites-button:hover {
  background: url(images/heart_hover.svg);
  background-size: 26px;
  background-repeat: no-repeat;
 }

 .sidebar__favorites-button:focus {
  background: url(images/hearts_click.svg);
  background-size: 26px;
  background-repeat: no-repeat;
 }

/* ДОБАВИТЬ В ИЗБРАННОЕ КОНЕЦ*/

.sidebar__delivery {
  padding: 0px 0px 20px;
  gap: 10px;
  width: 380px;
  height: 68px;
  margin-bottom: 35px;
  line-height: 0.8cm;
}

.sidebar__delivery span {
  font-weight: bold;
}

.sidebar__basket__button {
  position: relative;
  text-align: center;
  width: 380px;
  height: 64px;
  background: #F36223;
  border: #F36223;
  border-radius: 4px;
  margin-left: 22px;
  font-size: 20px;
  color: #FFFFFF;
  padding-left: 30px;
}

.sidebar__basket__button:hover {
  background: #DA4A0C;
}

.sidebar__basket__button div:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 81px;
  background-size: 24px 24px;
  background-image: url(images/basket.svg);
  background-repeat: no-repeat;
}

/* РЕКЛАМА НАЧАЛО*/
.advertising {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advertising__designation {
  font-size: 14px;
  color: #888888;
}

.advertising__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 442px;
  height: 322px;
  background: #F0F0F0;
  border: 1px dashed #888888;
  font-size: 14px;
  color: #888888;
}
/* РЕКЛАМА КОНЕЦ*/

/* ОТЗЫВЫ НАЧАЛО*/
.reviews {
  margin-left: 50px;
  height: 564px;
  width: 880px;
}

.reviews__header {
  float: left;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 20px;
}

.reviews__header:after {
  content: "425";
  float: right;
  padding-left:10px;
  color: #888888;
}

.comments {
  display: flex;
  gap: 30px;
  width: 880px;
}

.comments img {
  margin-top: 25px;
  width: 140px;
  height: 140px;
  border-radius: 100px; 
}

.comments__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 150px;
  height: 64px;
}

.comments__header span {
  width: 200px;
  height: 24px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.comments__rating {
  display: flex;
  margin: 0px;
}

.comments__rating img {
  margin: 0px;
  width: 30px;
  height: 30px;
}

/* ОТЗЫВЫ_ТЕКСТ НАЧАЛО*/
.comments__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  line-height: 17px;
}

.comments__text span {
  font-weight: bold;
  line-height: 0;
}

.comments__head {
  display: inline;
  margin: 0px;
  margin-top: 14px;
}

.comments__bottom {
  margin: 0px;
}

hr {
  margin: 40px 40px 40px 170px ;
  border: 1px dashed #888888;
}
/* ОТЗЫВЫ_ТЕКСТ КОНЕЦ*/
/* ОТЗЫВЫ КОНЕЦ*/

/* ФОРМА ОТПРАВКИ ОТЗЫВА НАЧАЛО*/
legend {
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 20px;
}

fieldset {
  margin-left:170px;
  margin-top:100px;
  padding: 0px;
  border: none;
}

input {
  width: 495px;
  height: 49px;
}

.fieldset__rating-grade {
  width: 197px;
  height: 49px;
  margin-left: 12px;
  
}

input, textarea {
  resize:none;
  border: 1px solid #888888;
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
}

textarea {
  margin-top: 40px;
  width: 710px;
  height: 190px;
  padding-left: 20px;
  padding-top: 10px;
}

.fieldset__button{
  display: flex;
  flex-direction: column;
  width: 177px;
  height: 39px;
  background: #F36223;
  border: #F36223;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;

}

.fieldset__button:hover {
  background: #DA4A0C;
}

.fieldset__button a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 10px 20px 10px 15px;
}

/* ФОРМА ОТПРАВКИ ОТЗЫВА КОНЕЦ*/

/* ПОДВАЛ НАЧАЛО*/
footer {
  display: flex;
  width: 2100px;
  position: absolute;
  top: 2874px;
  background: #F2F2F2;
}

.footer__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  width: 2000px;
  height: 111px;
}

.footer__text span {
  font-weight: bold;
}

.footer__text p {
  min-width: 558px;
  font-size: 14px;
  line-height: 17px;
}

.footer__text a {
  padding: 0px;
  font-size: 16px;
  line-height: 19px;
  height: 19px;
  width: 58px;
}   
/* ПОДВАЛ КОНЕЦ*/
  
