@media (max-width: 1499px) and (min-width: 1024px) {
      *.wrapper { 
        position: relative;
        width: 1024px;
      }

      header {
        width: 1024px;
      }

      .header__logo {
        padding: 0px;
      }
      
      /* ХЛЕБНЫЕ КРОШКИ НАЧАЛО */
      .breadcrumbs nav {
        margin: 110px 0px 8px 0px;
        }

      .product-name__title {
        margin-left: 0px;
      }
      
      /* ФОТОГРАФИИ ТОВАРА НАЧАЛО */
      .product-photo{
        width: 993.64px;
        height: 272px;
      }
      
      .product-photo__photo-1 {
        width: 194px;
        height: 272px;
        margin-left: 0px;
        }
        .product-photo__photo-2 {
            width: 133px;
            height: 272px;
        }
        
        .product-photo__photo-3 {
            width: 137px;
            height: 272px;
        }
        
        .product-photo__photo-4 {
            width: 252px;
            height: 272px;
        }
        
        .product-photo__photo-5 {
            width: 207px;
            height: 272px;
        }

      .product-description {
        width: 994px;
        height: 991px;
        margin-left: 0px;
      }
      

      .product-exposition__paragraphs {
        width: 594px;
        height: 114px;
      }
      .model-compare{
        display: none;
        height: 0px;
      }
      
      /* САЙДБАР НАЧАЛО*/
      .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 420px;
        height: 957px;
        margin-left: -253px;
      }
      
      .sidebar__prise-delivery {
        width: 402px;
        height: 100%;
      }

      .sidebar__prise-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
      }
      
      .sidebar__prise {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 132px;
        height: 73px;
      }
      
      .sidebar__old-cost {
        display: flex;
        gap: 10px;
      }
      
      .sidebar__old-cost p {
        width: 66px;
        height: 16px;
        margin: 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        text-decoration-line: line-through;
        color: #888888;
        margin-top: 5px;
      }
      

      .sidebar__delivery {
        width: 100%;
      }
      
      .sidebar__basket_button {
        width: 320px;
        height: 64px;
      }
      
      .sidebar__basket_button div:before {
        left: 58px;
      }
    
      .reviews {
        position: relative;
        bottom: 25px;
        height: 564px;
        width: 880px;
        margin-left: 0px;
      }

      .comments img {
        width: 100px;
        height: 100px;
      }
      
      .comments__rating {
        width: 100px;
        height: 20px;
      }
      
      .comments__rating img {
        height: 20px;
        width: 20px;
      }
      
      /* ОТЗЫВЫ_ТЕКСТ НАЧАЛО*/
      .comments__text p {
        width: 464px;
      }
      
      hr {
        width: 594px;
        margin: 40px 40px 40px 15px ;
        border: 1px dashed #888888;
      }

      fieldset {
        margin-left: 0px;
      }

      fieldset input {
        width: 379px;
      }
      

      .fieldset__rating-grade {
        width: 175px;
        margin-left: 35px;
      }

      textarea {
        width: 594px;
        height: 190px;
      }

      footer {
        width: 1024px;
        height: 111px;
        top: 2490px;
        right: 7px;
      }

      .footer__text {
        padding: 0px;
      }
    }